.updateBannerContainer {
    width: 100%;
    height: 30vh;
    background: #7BB4A6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerTitle{
    font-size: 5vh;
    margin-bottom: 5vh;
    transition: 0.5s all linear;
    font-weight: bolder;
}

.bannerDesc {
    font-size: 3vh;
    margin: 0 20vh;
    text-align: center;
}
.bannerAnimation {
    width: 100%;
    height: 100%;
}
.bannerAnimation:hover {
    background: url('../../assets/CodgIT.png');
    animation: bannerAnimation 5s linear infinite alternate;
}

.bannerContent {
    color: whitesmoke;
    width: 100%;
    height: 100%;
    /* color: rgba(1,77,78,1.00); */
    color: #399680;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
}


@keyframes bannerAnimation {
    0% {
        /* opacity: 0; */
        background-position-x: left;
        background-position-y:top;
    }
    50% {
        background-position-x: center;
        background-position-y: center;
    }

    100% {
        background-position-x: right;
        background-position-y: bottom;
    }
}

@media (max-width:960px) {
    .bannerTitle { 
        font-size: 3.5vh;
        margin: 1.5vh auto;
    }
    .bannerDesc {
        margin: 0.5vh 3.5vh;
        font-size: 2vh;
    }
    .bannerAnimation{
        background: url('../../assets/CodgIT.png');
        animation: bannerAnimation 15s linear infinite alternate;
    }
    .bannerAnimation:hover{
        display: block;
        animation: bannerAnimation 15s linear infinite alternate;
    }
}
@media (max-width:378px) and (min-height:810px) {
    .bannerDesc {
        margin: 0.5vh 3.5vh;
        font-size: 2vh;
    }

}